@import '../variables.css';

.WorkSpaceBox {
	border: 1px solid black;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 15%;
    float: left;
    box-sizing: border-box;
    margin: 20px 0px;
}