.WorkSpaceBox {
  display: inherit;
  border: 1px solid black;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.WorkSpaceBoxWrap {
  margin: 0px 10px;
  font-size: 24px;
}