@import '../variables.css';

.CollectionPane {
	border: 1px solid black;
	box-sizing: border-box;

	flex: 0 1 30%;
  display: inherit;

  height: 90%;
  flex-flow: row wrap;
}

.CollectionTabs {
	display: inherit;
	height: 10%;
	flex: 0 1 100%;
}

.CollectionTabs > div {
	border-bottom: 1px solid black;
	box-sizing: border-box;

	flex: 0 1 33.3333%;
	display: inherit;
  justify-content: center;
}

.CollectionCurrent {
  display: inherit;
	height: 90%;
  flex: 0 1 100%;
  flex-flow: column nowrap;
}